@import "fonts"
@import "libs"
@import "vars"
// Bootstrap
@import "bootstrap/functions"
@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bootstrap/modal"
// @import "bootstrap/buttons"

/*Обнуление*/
* 
	padding: 0 
	margin: 0 
	border: 0 
	-moz-box-sizing: border-box 
	-webkit-box-sizing: border-box 
	box-sizing: border-box 
	font-family: 'Roboto', sans-serif
	&:before, &:after
		-moz-box-sizing: border-box 
		-webkit-box-sizing: border-box 
		box-sizing: border-box 
*:focus, *:active
	outline: none
a 
	&:focus, &:active
    outline: none 
nav, footer, header, aside 
	display: block 
html, body 
	height: 100% 
	width: 100% 
	font-size: 100% 
	line-height: 1 
	font-size: 14px 
	-ms-text-size-adjust: 100% 
	-moz-text-size-adjust: 100% 
	-webkit-text-size-adjust: 100% 
	font-family: 'Roboto', sans-serif //Arial, Amiri, sans-serif
input, button, textarea 
	font-family: inherit 
input 
	&::-ms-clear 
		display: none 
button 
	cursor: pointer 
	&::-moz-focus-inner 
    padding: 0 
	border: 0 
	a 
		text-decoration: none 
		&:visited, &:hover
    		text-decoration: none 
	ul 
		li 
			list-style: none 
img 
	vertical-align: top 
h1, h2, h3, h4, h5, h6 
	font-size: inherit 
	font-weight: inherit 


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1
a
	color: #333
	&:hover
		color: #333
		text-decoration: none
	&:active
		color: #333
		text-decoration: none

.modal-title
	font-size: 24px
.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

// Custom
@import "owl/owl"
@import "includes/header"
@import "includes/footer"

	
@import "media" // Всегда в конце
