.menu-desktop
    // Top menu
    ul.top-menu
        li.top-item-opened
            a(href="#") Детям
            // Submenu
            ul.sub-menu
                li
                    a(href="#") Образы
                    .third-menu
                        .row
                            // Первый блок
                            .col-md-4
                                strong Категории
                                .row
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a(href='#') Уход за обувью
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a.third-menu-other(href='#') Все категории
                            
                            // Второй блок
                            .col-md-2
                                strong Бренды
                                ul
                                    li
                                        a(href='#') Mini Melissa
                                    li
                                        a(href='#') Mel by Melisa
                                    li
                                        a(href='#') Ipanema
                                    li
                                        a(href='#') Zaxy
                                    li
                                        a.third-menu-other(href='#') Все бренды
                            // Третий блок
                            .col-md-2
                                strong.text-center Тренды сезона
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item1.png')
                                        figcaption Сумка-рюкзак Unircorn
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item2.png')
                                        figcaption Сапожки Zaxy Bow
                            // Четвертый блок
                            .col-md-4
                                .third-menu-banner
                                    a(href='#')
                                        img(src='/img/banner/mbanner.png')
                                    div.third-menu-banner__name.text-center Mini Melissa SS 20
                                    div.text-center Встречайте новую коллекцию
                li
                    a(href="#") Одежда
                li
                    a(href="#") Обувь
                li
                    a(href="#") Аксессуары
                li
                    a(href="#") Игрушки
                li
                    a(href="#") Новинки
                li
                    a(href="#") Аутлет
                li
                    a(href="#") Доставка и оплата
                li
                    a(href="#") Обмен и возврат
                li
                    a(href="#") Контакты
        li
            a(href="#") Женщинам
            // Submenu
            ul.sub-menu
                li
                    a(href="#") Образы
                    .third-menu
                        .row
                            // Первый блок
                            .col-md-4
                                strong Категории
                                .row
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a(href='#') Уход за обувью
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a.third-menu-other(href='#') Все категории
                            
                            // Второй блок
                            .col-md-2
                                strong Бренды
                                ul
                                    li
                                        a(href='#') Mini Melissa
                                    li
                                        a(href='#') Mel by Melisa
                                    li
                                        a(href='#') Ipanema
                                    li
                                        a(href='#') Zaxy
                                    li
                                        a.third-menu-other(href='#') Все бренды
                            // Третий блок
                            .col-md-2
                                strong.text-center Тренды сезона
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item1.png')
                                        figcaption Сумка-рюкзак Unircorn
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item2.png')
                                        figcaption Сапожки Zaxy Bow
                            // Четвертый блок
                            .col-md-4
                                .third-menu-banner
                                    a(href='#')
                                        img(src='/img/banner/mbanner.png')
                                    div.third-menu-banner__name.text-center Mini Melissa SS 20
                                    div.text-center Встречайте новую коллекцию

                li
                    a(href="#") Одежда
                li
                    a(href="#") Обувь
                li
                    a(href="#") Аксессуары
                li
                    a(href="#") Игрушки
                li
                    a(href="#") Новинки
                li
                    a(href="#") Аутлет
                li
                    a(href="#") Доставка и оплата
                li
                    a(href="#") Обмен и возврат
                li
                    a(href="#") Контакты
        li
            a(href="#") Мужчинам
            // Submenu
            ul.sub-menu
                li
                    a(href="#") Образы
                    .third-menu
                        .row
                            // Первый блок
                            .col-md-4
                                strong Категории
                                .row
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a(href='#') Уход за обувью
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a.third-menu-other(href='#') Все категории
                            
                            // Второй блок
                            .col-md-2
                                strong Бренды
                                ul
                                    li
                                        a(href='#') Mini Melissa
                                    li
                                        a(href='#') Mel by Melisa
                                    li
                                        a(href='#') Ipanema
                                    li
                                        a(href='#') Zaxy
                                    li
                                        a.third-menu-other(href='#') Все бренды
                            // Третий блок
                            .col-md-2
                                strong.text-center Тренды сезона
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item1.png')
                                        figcaption Сумка-рюкзак Unircorn
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item2.png')
                                        figcaption Сапожки Zaxy Bow
                            // Четвертый блок
                            .col-md-4
                                .third-menu-banner
                                    a(href='#')
                                        img(src='/img/banner/mbanner.png')
                                    div.third-menu-banner__name.text-center Mini Melissa SS 20
                                    div.text-center Встречайте новую коллекцию

                li
                    a(href="#") Одежда
                li
                    a(href="#") Обувь
                li
                    a(href="#") Аксессуары
                li
                    a(href="#") Игрушки
                li
                    a(href="#") Новинки
                li
                    a(href="#") Аутлет
                li
                    a(href="#") Доставка и оплата
                li
                    a(href="#") Обмен и возврат
                li
                    a(href="#") Контакты
    
    // Logo
    a.logo(href="/")
        img(src='/img/logo.png',alt='logo')
    // Panel tools    
    .toolbar
        .searchbar
            input(type='text',placeholder='Что будем искать?')
            span.searchbar__action
        // Личный кабинет
        if(isAuthorizated)
            a.profile(href="#")
                img(src='img/user-default.png')
        else
            .authorization
                a(href="#").authorization__link Войти
                a(href="#").authorization__link Создать аккаунт
        // Избранные
        .toolbar-dropdown.dropdown
            .toolbar-dropdown__icon.toolbar-dropdown__favorite
            .toolbar-dropdown__content.dropdown__inner
                .toolbar-dropdown__title У вас нет избранных
                a.toolbar-dropdown__action Каталог товаров
        // Корзина
        .toolbar-dropdown.dropdown
            span.toolbar-dropdown__icon.toolbar-dropdown__cart
            .toolbar-dropdown__content.dropdown__inner 

                // Toggle
                if(false)
                    .toolbar-dropdown__title В вашей корзине пока нет товаров
                    a.toolbar-dropdown__action Перейти в каталог
                else
                    table
                        tbody
                            tr
                                td.text-center
                                    a(href='#')
                                        img.img-thumbnail(src='/img/gods/item1.png', alt='Apple Cinema 30"', title='Apple Cinema 30"')
                                td.text-left
                                    a(href='http://194.67.91.97/index.php?route=product/product&product_id=42') Mini Melisa MAR SANDAL SWEET DREAMS
                                    .properties
                                        small Размер: 28/29
                                        small Цвет: Розовый
                                td
                                    .counter-container
                                        span.prev.fa.fa-caret-left
                                        input(type='number',start='1',class='count',step='1',value='1')
                                        span.next.fa.fa-caret-right
                                td.price 228 Р
                                td.text-center
                                    span.remove.fa.fa-trash
                            tr
                                td.text-center
                                    a(href='#')
                                        img.img-thumbnail(src='/img/gods/item1.png', alt='Apple Cinema 30"', title='Apple Cinema 30"')
                                td.text-left
                                    a(href='http://194.67.91.97/index.php?route=product/product&product_id=42') Mini Melisa MAR SANDAL SWEET DREAMS
                                    .properties
                                        small Размер: 28/29
                                        small Цвет: Розовый
                                td
                                    .counter-container
                                        span.prev.fa.fa-caret-left
                                        input(type='number',start='1',class='count',step='1',value='1')
                                        span.next.fa.fa-caret-right
                                td.price 228 Р
                                td.text-center
                                    span.remove.fa.fa-trash
                            tr
                                td.text-center
                                    a(href='#')
                                        img.img-thumbnail(src='/img/gods/item1.png', alt='Apple Cinema 30"', title='Apple Cinema 30"')
                                td.text-left
                                    a(href='http://194.67.91.97/index.php?route=product/product&product_id=42') Mini Melisa MAR SANDAL SWEET DREAMS
                                    .properties
                                        small Размер: 28/29
                                        small Цвет: Розовый
                                td
                                    .counter-container
                                        span.prev.fa.fa-caret-left
                                        input(type='number',start='1',class='count',step='1',value='1')
                                        span.next.fa.fa-caret-right
                                td(style='width:200px')
                                    span.stock
                                        span.stock-price-new 1000 Р
                                        span.stock-price-old 800 Р
                                td.text-center
                                    span.remove.fa.fa-trash
                    .cart-other Еще 
                        a(href="#") 21 товар
                        .
                            &nbsp;в корзине
                    hr
                    table
                        tbody
                            tr
                                td
                                    a.toolbar-dropdown__action(href='#') Оформить заказ
                                td.text-right.total
                                    span Итого:
                                    span.price 228 Р
        .searchbar-toggle#search-toggle
            span