.menu-desktop
    // Top menu
    ul.top-menu
        li.top-item-opened
            a(href="#") Детям
            // Submenu
            ul.sub-menu
                li
                    a(href="#") Образы
                    .third-menu
                        .row
                            // Первый блок
                            .col-md-4
                                strong Категории
                                .row
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a(href='#') Уход за обувью
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a.third-menu-other(href='#') Все категории
                            
                            // Второй блок
                            .col-md-2
                                strong Бренды
                                ul
                                    li
                                        a(href='#') Mini Melissa
                                    li
                                        a(href='#') Mel by Melisa
                                    li
                                        a(href='#') Ipanema
                                    li
                                        a(href='#') Zaxy
                                    li
                                        a.third-menu-other(href='#') Все бренды
                            // Третий блок
                            .col-md-2
                                strong.text-center Тренды сезона
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item1.png')
                                        figcaption Сумка-рюкзак Unircorn
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item2.png')
                                        figcaption Сапожки Zaxy Bow
                            // Четвертый блок
                            .col-md-4
                                .third-menu-banner
                                    a(href='#')
                                        img(src='/img/banner/mbanner.png')
                                    div.third-menu-banner__name.text-center Mini Melissa SS 20
                                    div.text-center Встречайте новую коллекцию

                li
                    a(href="#") Одежда
                li
                    a(href="#") Обувь
                li
                    a(href="#") Аксессуары
        li
            a(href="#") Женщинам
            // Submenu
            ul.sub-menu
                li
                    a(href="#") Образы
                    .third-menu
                        .row
                            // Первый блок
                            .col-md-4
                                strong Категории
                                .row
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a(href='#') Уход за обувью
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a.third-menu-other(href='#') Все категории
                            
                            // Второй блок
                            .col-md-2
                                strong Бренды
                                ul
                                    li
                                        a(href='#') Mini Melissa
                                    li
                                        a(href='#') Mel by Melisa
                                    li
                                        a(href='#') Ipanema
                                    li
                                        a(href='#') Zaxy
                                    li
                                        a.third-menu-other(href='#') Все бренды
                            // Третий блок
                            .col-md-2
                                strong.text-center Тренды сезона
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item1.png')
                                        figcaption Сумка-рюкзак Unircorn
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item2.png')
                                        figcaption Сапожки Zaxy Bow
                            // Четвертый блок
                            .col-md-4
                                .third-menu-banner
                                    a(href='#')
                                        img(src='/img/banner/mbanner.png')
                                    div.third-menu-banner__name.text-center Mini Melissa SS 20
                                    div.text-center Встречайте новую коллекцию

                li
                    a(href="#") Одежда
                li
                    a(href="#") Обувь
                li
                    a(href="#") Аксессуары
        li
            a(href="#") Мужчинам
            // Submenu
            ul.sub-menu
                li
                    a(href="#") Образы
                    .third-menu
                        .row
                            // Первый блок
                            .col-md-4
                                strong Категории
                                .row
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a(href='#') Уход за обувью
                                    .col-md-6
                                        ul
                                            li
                                                a(href='#') Балетки
                                            li
                                                a(href='#') Босоножки
                                            li
                                                a(href='#') Ботинки
                                            li
                                                a(href='#') Лоферы
                                            li
                                                a(href='#') Сандалии
                                            li
                                                a(href='#') Сапоги
                                            li
                                                a(href='#') Сланцы
                                            li
                                                a(href='#') Слипоны
                                            li
                                                a(href='#') Туфли
                                            li
                                                a.third-menu-other(href='#') Все категории
                            
                            // Второй блок
                            .col-md-2
                                strong Бренды
                                ul
                                    li
                                        a(href='#') Mini Melissa
                                    li
                                        a(href='#') Mel by Melisa
                                    li
                                        a(href='#') Ipanema
                                    li
                                        a(href='#') Zaxy
                                    li
                                        a.third-menu-other(href='#') Все бренды
                            // Третий блок
                            .col-md-2
                                strong.text-center Тренды сезона
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item1.png')
                                        figcaption Сумка-рюкзак Unircorn
                                a(href='#')
                                    figure
                                        img(src='/img/gods/item2.png')
                                        figcaption Сапожки Zaxy Bow
                            // Четвертый блок
                            .col-md-4
                                .third-menu-banner
                                    a(href='#')
                                        img(src='/img/banner/mbanner.png')
                                    div.third-menu-banner__name.text-center Mini Melissa SS 20
                                    div.text-center Встречайте новую коллекцию

                li
                    a(href="#") Одежда
                li
                    a(href="#") Обувь
                li
                    a(href="#") Аксессуары
    
    // Logo
    a.logo(href="/")
        img(src='/img/logo.jpg',alt='logo')
    // Panel tools    
    div