div#menu.mobile-menu__content
    ul
        li
            a(href="#")
                span Образы
            ul
                li
                    a(href="#") На каждый день
                li
                    a(href="#") В садик, школу
                li
                    a(href="#") На фотосессию
                li
                    a(href="#") На мероприятие
        
        li
            a(href="#")
                span Одежда
            ul
                li
                    a(href="#") Платья и сарафаны
                li
                    a(href="#") Футболки и поло
                li
                    a(href="#") Толстовки
                li
                    a(href="#") Комбинезоны
                li
                    a(href="#") Купальники
                li
                    a(href="#") Штаны
                li
                    a(href="#") Юбки
                li
                    a(href="#") Шорты
                li
                    a(href="#") Свитеры и свитшоты
                li
                    a(href="#") Дождевики
            li
                a(href="#")
                    span Обувь
                ul
                    li
                        a(href="#") Балетки
                    li
                        a(href="#") Босоножки
                    li
                        a(href="#") Туфли
                    li
                        a(href="#") Кеды
                    li
                        a(href="#") Кроссовки
                    li
                        a(href="#") Лоферы
                    li
                        a(href="#") Сапоги
            li
                a(href="#")
                    span Аксессуары
                ul
                    li
                        a(href="#") Сумки
                    li
                        a(href="#") Бантики
                    li
                        a(href="#") Рюкзаки
                    li
                        a(href="#") Платки и шарфы
                    li
                        a(href="#") Зонты
            li
                a(href="#")
                    span Игрушки
                ul
                    li
                        a(href="#") Куклы L.O.L. Surprise
                    li
                        a(href="#") Развивающие игры
                    li
                        a(href="#") Настольные игры
                    li
                        a(href="#") Наборы для творчества
                    li
                        a(href="#") Игрушки будущего
            li
                a(href="#")
                    span Новинки
            li
                a(href="#")
                    span Аутлет