.searchbar
    display: flex
    position: absolute
    top: 100%
    left: 0
    right: 0
    width: 100%
    background: #efefef
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    padding: 1em

    &-container
        position: relative

    &__input
        width: 100%
        padding: .2em .4em
        font: 14px/1.375 Arial,Amiri,sans-serif
        letter-spacing: .6px
        border: 1px solid #333
        border-right: 0
    &__button
        padding: 4px 8px
        background: transparent
        border: 1px solid #333
        display: flex
        justify-content: center
        align-items: center
        i
            width: 16px
            height: 16px
        // border: 1px solid #333
        &:focus
            outline: none
        &:hover
            outline: none
        i
            color: white
.autocomplete-items 
	position: absolute 
	border: 1px solid #d4d4d4 
	border-bottom: none 
	border-top: none 
	z-index: 99 
	top: calc(100% - 14px)
	left: 13px
	right: 13px
	div 
		padding: 10px 
		cursor: pointer 
		background-color: #fff 
		border-bottom: 1px solid #d4d4d4 
		&:hover 
			background-color: #e9e9e9
.autocomplete-active 
	background-color: #666 !important 
	color: #ffffff 
