//- .subfooter-wrapper
//-     .container
//-         .subfooter
//-             .row
//-                 .col-md-12
//-                     .subfooter__title СКИДКА 10% за подписку
//-                 .col-md-12
//-                     .subfooter__subtitle на наши новости. 
//-                         a(href="#условия") Условия акции
//-             .row.subfooter__control-group
//-                 .col-md-8.col-xs-12
//-                     input(type='email',placeholder='Ваша почта').subfooter__input
//-                 .col-md-2.col-xs-12
//-                     button.subfooter__button Женщинам
//-                 .col-md-2.col-xs-12
//-                     button.subfooter__button Мужчинам
.subfooter-wrapper.subfooter-wrapper-gray
    .container
        .subfooter.row
            .col-md-3
                ul.subfooter__list
                    li
                        strong Помочь
                    li
                        a(href="#") Статус заказа по номеру
                    li
                        a(href="#") Центр поддержки Lamoda
                    li
                        a(href="#") Как оформить заказ
                    li
                        a(href="#") Как выбрать размер
                    li
                        strong Способ оплаты
                    li
                        .row.payments
                            .col-xs-4
                                img(src="/img/payment/mc.svg")
                            .col-xs-4
                                img(src="/img/payment/visa.svg")
                            .col-xs-4
                                img(src="/img/payment/mir.svg")
                    li
                        span Вы можете оплатить покупку наличными при получении, либо выбрать другой способ оплаты.
            .col-md-3
                ul.subfooter__list
                    li
                        strong О нас
                    li.social
                        a(href="#fb").social__fb
                            i.fa.fa-facebook-f
                        a(href="#vk").social__vk
                            i.fa.fa-vk
                        a(href="#inst").social__inst
                            i.fa.fa-instagram
                    li 
                        a(href="#") Fashion-блок минишипоголик
                    li
                        a(href="#") Подарочные сертификаты минишипоголик
                    li 
                        a(href='#') О компании
            .col-md-3
                ul.subfooter__list
                    li
                        strong Партнерам
                    li
                        a(href="#") Подключиться к партнерской программе
                    li
                        a(href="#") Стать подрядчиком Lamoda
                    li
                        a(href="#") Предложить помещение в аренду
            .col-md-3
                div
                    strong Акции дня
                .owl-carousel.owl-theme#fbanner
                    img(src='/img/content/slide-1.png').owl-carousel__item
                    img(src='/img/content/slide-2.png').owl-carousel__item
                    img(src='/img/content/slide-1.png').owl-carousel__item
                    img(src='/img/content/slide-2.png').owl-carousel__item
.footer
    a(href="").footer__copyright &copy; 2020. Политика конфиденциальности