-var cities = ['Москва','Санкт-Петербург','Екатеринбург','Новосибирск','Ростов-на-Дону']

-var isAuthorizated = true


.header
    .topbar
        .topbar__inner
            .topbar__left
                a.locationSelector.topbar__item(href="#locationModal" data-toggle="modal" data-target="#locationModal")
                    span.fa.fa-location-arrow
                    span Москва
                #locationModal.modal.location.fade(tabindex='-1', role='dialog', aria-labelledby='locationModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content.location__content
                            .location__header
                                h5#locationModalLabel.location__title ВАШ РЕГИОН ДОСТАВКИ
                            .location__body
                                input.input-text.input-text-bg(placeholder='Введите название населённого пункта')
                                .location__auto
                                    a.link.link-primary(href="#") Определить автоматически
                                div.location__subtitle Популярные города
                                ul.location__list
                                    each item in cities
                                        li.location__item
                                            a(href='#') #{item}
                            .modal-footer.location__footer
                                button.btn.btn-link.btn-lg.location__action(type='button', data-dismiss='modal') Отмена
                                button.btn.btn-primary.btn-lg.location__action(type='button') Запомнить выбор
            .topbar__right
                if(isAuthorizated)
                    .profile
                        a.profile__avatar(href="#")
                            img.profile__img(src='img/user-default.png')
                            span.profile__discount -15%
                        a.profile__label(href="#") Личный кабинет
                else
                    .authorization
                        a(href="#").authorization__link Войти
                        a(href="#").authorization__link Создать аккаунт
                .favorite.dropdown
                    .favorite__icon
                    .dropdown__inner 
                        .favorite__title У вас нет избранных
                        a.favorite__action Каталог товаров
                .cart.dropdown
                    .cart__icon
                    .dropdown__inner 
                        .cart__title Ваша тележка пуста
                        a.cart__action Каталог товаров
                .help.dropdown
                    .help__icon
                    .dropdown__inner 
                        ul.help__list
                            li.help__item
                                a.help__link(href="#1") Доставка
                            li.help__item
                                a.help__link(href="#2") Размеры
                            li.help__item
                                a.help__link(href="#3") Возврат
                            li.help__item
                                a.help__link(href="#4") Гарантия
                            li.help__item
                                a.help__link(href="#5") Оплата


    .menu.mh-head.Sticky
        .menu-mobile.searchbar-container
            .menu-mobile__row
                a.menu-mobile__action(href="#menu")
                    span.menu-mobile__icon.menu-mobile__menu
                span.menu-mobile__action.searchbar-toggle(data-target='#msearch')
                    span.menu-mobile__icon.menu-mobile__search
                a.menu__logo(href="/")
                    img(src='/img/logo.jpg',alt='logo')
                a.menu-mobile__action
                    span.menu-mobile__favorite.menu-mobile__icon
                a.menu-mobile__action
                    span.menu-mobile__cart.menu-mobile__icon
                .searchbar#msearch(style="display: none")
                    input.searchbar__input(placeholder="Поиск")
                    button.searchbar__button
                        i.menu-mobile__search-inverse.menu-mobile__icon
            .__hidden(style='display:none')
                include ./includes/_mobile-menu.pug

        .container.menu-desktop
            .menu__inner
                a.menu__logo(href="/")
                    img(src='/img/logo.jpg',alt='logo')
                    ul.menu__list
                        li.menu__item.dropdown
                            a.menu__link(href="#")
                                span Образы
                            ul.menu__submenu.dropdown__inner
                                li.menu__subitem
                                    a(href="#").menu__sublink На каждый день
                                li.menu__subitem
                                    a(href="#").menu__sublink В садик, школу
                                li.menu__subitem
                                    a(href="#").menu__sublink На фотосессию
                                li.menu__subitem
                                    a(href="#").menu__sublink На мероприятие
                        
                        li.menu__item.dropdown
                            a.menu__link(href="#")
                                span Одежда
                            ul.menu__submenu.dropdown__inner
                                li.menu__subitem
                                    a(href="#").menu__sublink Платья и сарафаны
                                li.menu__subitem
                                    a(href="#").menu__sublink Футболки и поло
                                li.menu__subitem
                                    a(href="#").menu__sublink Толстовки
                                li.menu__subitem
                                    a(href="#").menu__sublink Комбинезоны
                                li.menu__subitem
                                    a(href="#").menu__sublink Купальники
                                li.menu__subitem
                                    a(href="#").menu__sublink Штаны
                                li.menu__subitem
                                    a(href="#").menu__sublink Юбки
                                li.menu__subitem
                                    a(href="#").menu__sublink Шорты
                                li.menu__subitem
                                    a(href="#").menu__sublink Свитеры и свитшоты
                                li.menu__subitem
                                    a(href="#").menu__sublink Дождевики
                            li.menu__item.dropdown
                                a.menu__link(href="#")
                                    span Обувь
                                ul.menu__submenu.dropdown__inner
                                    li.menu__subitem
                                        a(href="#").menu__sublink Балетки
                                    li.menu__subitem
                                        a(href="#").menu__sublink Босоножки
                                    li.menu__subitem
                                        a(href="#").menu__sublink Туфли
                                    li.menu__subitem
                                        a(href="#").menu__sublink Кеды
                                    li.menu__subitem
                                        a(href="#").menu__sublink Кроссовки
                                    li.menu__subitem
                                        a(href="#").menu__sublink Лоферы
                                    li.menu__subitem
                                        a(href="#").menu__sublink Сапоги
                            li.menu__item.dropdown
                                a.menu__link(href="#")
                                    span Аксессуары
                                ul.menu__submenu.dropdown__inner
                                    li.menu__subitem
                                        a(href="#").menu__sublink Сумки
                                    li.menu__subitem
                                        a(href="#").menu__sublink Бантики
                                    li.menu__subitem
                                        a(href="#").menu__sublink Рюкзаки
                                    li.menu__subitem
                                        a(href="#").menu__sublink Платки и шарфы
                                    li.menu__subitem
                                        a(href="#").menu__sublink Зонты
                            li.menu__item
                                a.menu__link(href="#")
                                    span Игрушки
                                ul.menu__submenu.dropdown__inner
                                    li.menu__subitem
                                        a(href="#").menu__sublink Куклы L.O.L. Surprise
                                    li.menu__subitem
                                        a(href="#").menu__sublink Развивающие игры
                                    li.menu__subitem
                                        a(href="#").menu__sublink Настольные игры
                                    li.menu__subitem
                                        a(href="#").menu__sublink Наборы для творчества
                                    li.menu__subitem
                                        a(href="#").menu__sublink Игрушки будущего
                            li.menu__item
                                a.menu__link(href="#")
                                    span Новинки
                            li.menu__item
                                a.menu__link(href="#")
                                    span Аутлет


    span.scrollup(style='display: none')#scrollup
        i.fa.fa-angle-double-up
                                
                            //- div.menu__submenu.dropdown__inner 
                            //-     .row
                            //-         .col-md-3
                            //-             .menu__title By Product
                            //-             .row
                            //-                 .col-md-6
                            //-                     ul.menu__sublist
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink Элемент
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink Элемент
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink Элемент
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink Элемент
                            //-                 .col-md-6
                            //-                     ul.menu__sublist
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink Элемент
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink Элемент
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink Элемент
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink Элемент
                            //-         .col-md-3
                            //-             .menu__title PREMATURE
                            //-             .row
                            //-                 .col-md-6
                            //-                     ul.menu__sublist
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 0 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 1 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 3 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 6 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 6 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 6 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 9 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 12 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 18 MTH
                            //-                 .col-md-6
                            //-                     ul.menu__sublist
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 6 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 7 - 8 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 9 - 10 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 13 - 14 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 15 - 16 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 16+ YR
                            //-         .col-md-3
                            //-             .menu__title PREMATURE
                            //-             .row
                            //-                 .col-md-6
                            //-                     ul.menu__sublist
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 0 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 1 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 3 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 6 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 6 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 6 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 9 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 12 MTH
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 18 MTH
                            //-                 .col-md-6
                            //-                     ul.menu__sublist
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 6 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 7 - 8 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 9 - 10 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 13 - 14 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 15 - 16 YR
                            //-                         li.menu__subitem
                            //-                             a(href="#").menu__sublink 16+ YR
                            //-         .col-md-3
                            //-             .menu__banner.menu__banner-last(href="#")
                            //-                 img(src="img/menu_boy.png")
                            //-                 .menu__bannerTitle.menu__bannerTitle-light Robberto Clancy
                            //-                 a.menu__bannerAction(href="#") Купить