-var cities = ['Москва','Санкт-Петербург','Екатеринбург','Новосибирск','Ростов-на-Дону']

-var isAuthorizated = true
-var isCartEmpty = true

.header
    .topbar
        .topbar__inner#topbar__search(style='display: none')
            .searchbar
                button.searchbar__button.searchbar__button-search
                input(type='text',placeholder='Поиск').searchbar__input#search-input
                button.searchbar__button-clear.searchbar__button#searchbar__back
                
        .topbar__inner#topbar__default
            .topbar__left
                .help.dropdown
                    .help__icon
                    .dropdown__inner.dropdown__inner-right 
                        ul.help__list
                            li.help__item
                                a.help__link(href="#1") Доставка
                            li.help__item
                                a.help__link(href="#2") Размеры
                            li.help__item
                                a.help__link(href="#3") Возврат
                            li.help__item
                                a.help__link(href="#4") Гарантия
                            li.help__item
                                a.help__link(href="#5") Оплата
                a.locationSelector.topbar__item(href="#locationModal" data-toggle="modal" data-target="#locationModal")
                    span.fa.fa-location-arrow
                    span Москва
                #locationModal.modal.location.fade(tabindex='-1', role='dialog', aria-labelledby='locationModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content.location__content
                            .location__header
                                h5#locationModalLabel.location__title ВАШ РЕГИОН ДОСТАВКИ
                            .location__body
                                input.input-text.input-text-bg(placeholder='Введите название населённого пункта')
                                .location__auto
                                    a.link.link-primary(href="#") Определить автоматически
                                div.location__subtitle Популярные города
                                ul.location__list
                                    each item in cities
                                        li.location__item
                                            a(href='#') #{item}
                            .modal-footer.location__footer
                                button.btn.btn-link.btn-lg.location__action(type='button', data-dismiss='modal') Отмена
                                button.btn.btn-primary.btn-lg.location__action(type='button') Запомнить выбор
            .topbar__right
                // Личный кабинет
                if(isAuthorizated)
                    .profile
                        a.profile__avatar(href="#")
                            img.profile__img(src='img/user-default.png')
                            span.profile__discount -15%
                        a.profile__label(href="#") Личный кабинет
                else
                    .authorization
                        a(href="#").authorization__link Войти
                        a(href="#").authorization__link Создать аккаунт
                // Избранные
                .favorite.dropdown
                    .favorite__icon
                    .dropdown__inner 
                        .favorite__title У вас нет избранных
                        a.favorite__action Каталог товаров
                // Корзина
                .cart.dropdown
                    .cart__icon
                    .cart__content.dropdown__inner 
                        if(isCartEmpty)
                            .cart__title В вашей корзине пока нет товаров
                            a.cart__action Перейти в каталог
                        else
                            table
                                tbody
                                    tr
                                        td.text-center
                                            a(href='http://194.67.91.97/index.php?route=product/product&product_id=42')
                                                img.img-thumbnail(src='http://194.67.91.97/image/cache/catalog/melissa-logo-1-47x47.png', alt='Apple Cinema 30"', title='Apple Cinema 30"')
                                        td.text-left
                                            a(href='http://194.67.91.97/index.php?route=product/product&product_id=42') Apple Cinema 30"
                                            br
                                            |             - 
                                            small Radio Medium
                                            br
                                            |             - 
                                            small Text test
                                            br
                                            |             - 
                                            small Select Red
                                            br
                                            |             - 
                                            small Textarea 4242
                                            br
                                            |             - 
                                            small File 9307610-image23671-6..
                                            br
                                            |             - 
                                            small Date 2011-02-20
                                            br
                                            |             - 
                                            small Time 22:25
                                            br
                                            |             - 
                                            small Date & Time 2011-02-20 22:25
                                        td.count x 2
                                        td.price 228р.
                                        td.text-center
                                            span.fa.fa-times
                            table
                                tbody
                                    tr
                                        td.text-right
                                            strong Сумма
                                        td.text-right.price 228р.
                                    tr
                                        td.text-right
                                            strong Итого
                                        td.text-right.price 228р.
                            a.cart__action Оформить заказ
                            a.cart__action Перейти в корзину
                .searchbar-toggle#search-toggle
                    span



    .menu.mh-head.Sticky
        .menu-mobile.searchbar-mobile-container
            .menu-mobile__row
                a.menu-mobile__action(href="#menu")
                    span.menu-mobile__icon.menu-mobile__menu
                span.menu-mobile__action.searchbar-mobile-toggle(data-target='#msearch')
                    span.menu-mobile__icon.menu-mobile__search
                a.menu__logo(href="/")
                    img(src='/img/logo.jpg',alt='logo')
                a.menu-mobile__action
                    span.menu-mobile__favorite.menu-mobile__icon
                a.menu-mobile__action
                    span.menu-mobile__cart.menu-mobile__icon
                .searchbar-mobile.menu-mobile__searchbar#msearch(style="display: none")
                    input.searchbar-mobile__input(placeholder="Поиск")#msearch-input
                    button.searchbar-mobile__button
                        span.menu-mobile__search.menu-mobile__icon
            .__hidden(style='display:none')
                include ./includes/_mobile-menu.pug

        include ./includes/_menu.pug


    div.scrollup(style='display: none')#scrollup
        img(src='/img/icons/arrow-up.png')
                                
