-var cities = ['Москва','Санкт-Петербург','Екатеринбург','Новосибирск','Ростов-на-Дону']

-var isAuthorizated = true
-var isCartEmpty = true

.header
    .banner-topbar
        a(href="#")
            img.banner-topbar__inner(src='/img/banner/banner.png')
        .banner-topbar__close
    .topbar
        .topbar__inner#topbar__search(style='display: none')
            .searchbar
                button.searchbar__button.searchbar__button-search
                input(type='text',placeholder='Поиск').searchbar__input#search-input
                button.searchbar__button-clear.searchbar__button#searchbar__back
                
        .topbar__inner#topbar__default
            .topbar__left
                
                a.locationSelector.topbar__item(href="#locationModal" data-toggle="modal" data-target="#locationModal")
                    span.fa.fa-location-arrow
                    span Москва
                #locationModal.modal.location.fade(tabindex='-1', role='dialog', aria-labelledby='locationModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content.location__content
                            .location__header
                                h5#locationModalLabel.location__title ВАШ РЕГИОН ДОСТАВКИ
                            .location__body
                                input.input-text.input-text-bg(placeholder='Введите название населённого пункта')
                                .location__auto
                                    a.link.link-primary(href="#") Определить автоматически
                                div.location__subtitle Популярные города
                                ul.location__list
                                    each item in cities
                                        li.location__item
                                            a(href='#') #{item}
                            .modal-footer.location__footer
                                button.btn.btn-link.btn-lg.location__action(type='button', data-dismiss='modal') Отмена
                                button.btn.btn-primary.btn-lg.location__action(type='button') Запомнить выбор
            .topbar__right
                // Статус заказа
                span.order-status Статус заказа
                // Помощь
                .help.dropdown
                    .help__icon
                    .dropdown__inner
                        ul.help__list
                            li.help__item
                                a.help__link(href="#1") Доставка
                            li.help__item
                                a.help__link(href="#2") Размеры
                            li.help__item
                                a.help__link(href="#3") Возврат
                            li.help__item
                                a.help__link(href="#4") Гарантия
                            li.help__item
                                a.help__link(href="#5") Оплата
                // Социальные сети
                .social-bar
                    ul.social-bar-links
                        li
                            a(href="#")
                                img(src='/img/social/ic_ig.png')
                        li
                            a(href="#")
                                img(src='/img/social/ic_wa.png')
                        li
                            a(href="#")
                                img(src='/img/social/ic_tg.png')
                        li
                            a(href="#")
                                img(src='/img/social/ic_vk.png')
                        li
                            a(href="#")
                                img(src='/img/social/ic_fb.png')
                    .social-bar-contact
                        span.social-bar-contact__text +7 495 125 12 10
                        span.social-bar-contact__hover Обратный звонок
                    .social-bar-toggle#social-toggle    

    // Мобильное меню
    .menu.mh-head.Sticky
        .menu-mobile.searchbar-mobile-container
            .menu-mobile__row
                a.menu-mobile__action(href="#menu")
                    span.menu-mobile__icon.menu-mobile__menu
                span.menu-mobile__action.searchbar-mobile-toggle(data-target='#msearch')
                    span.menu-mobile__icon.menu-mobile__search
                a.menu__logo(href="/")
                    img(src='/img/logo.jpg',alt='logo')
                a.menu-mobile__action
                    span.menu-mobile__favorite.menu-mobile__icon
                a.menu-mobile__action
                    span.menu-mobile__cart.menu-mobile__icon
                .searchbar-mobile.menu-mobile__searchbar#msearch(style="display: none")
                    input.searchbar-mobile__input(placeholder="Поиск")#msearch-input
                    button.searchbar-mobile__button
                        span.menu-mobile__search.menu-mobile__icon
            .__hidden(style='display:none')
                include ./includes/_mobile-menu.pug
        include ./includes/_menu.pug
    
    div.scrollup(style='display: none')#scrollup
        img(src='/img/icons/arrow-up.png')
                                
