extends ./_layout.pug
block content
    section.content-fluid.submenu.hidden-md.hidden-lg.hidden-sm
        .submenu__wrap
            ul.submenu__list
                li.submenu__item
                    a.submenu__link(href="#") Новинки
                li.submenu__item
                    a.submenu__link(href="#") Доставка
                li.submenu__item
                    a.submenu__link(href="#") Бренды

    section.container-fluid#section-banner.nopadding
        #mbanner.owl-carousel.owl-theme
            .row
                a.block-fullscreen(href="#")
                    img.block-fullscreen__image(src="img/section1.jpg")
                    .block-fullscreen__inner
                        h3.block-fullscreen__subtitle You may like this brand
                        h2.block-fullscreen__title Balmain
                        .block-fullscreen__action Shop the collection
            .row
                a.block-fullscreen(href="#")
                    img.block-fullscreen__image(src="img/section1.jpg")
                    .block-fullscreen__inner
                        h3.block-fullscreen__subtitle You may like this brand
                        h2.block-fullscreen__title Balmain
                        .block-fullscreen__action Shop the collection
    section.container-fluid
        .row
            .col-md-3.col-sm-3.col-xs-6.nopadding
                a.block-col(href="#")
                    img.block-col__image(src="img/section2-1.jpg")
                    .block-col__inner
                        h3.block-col__subtitle Каталог
                        h2.block-col__title Детям
                        
            .col-md-3.col-sm-3.col-xs-6.nopadding
                a.block-col(href="#")
                    img.block-col__image(src="img/section2-2.jpg")
                    .block-col__inner
                        h3.block-col__subtitle Каталог
                        h2.block-col__title Женщинам
            .col-md-3.col-sm-3.col-xs-6.nopadding
                a.block-col(href="#")
                    img.block-col__image(src="img/section2-3.jpg")
                    .block-col__inner
                        h3.block-col__subtitle Каталог
                        h2.block-col__title Мужчинам
            .col-md-3.col-sm-3.col-xs-6.nopadding
                a.block-col(href="#")
                    img.block-col__image(src="img/section2-4.jpg")
                    .block-col__inner
                        h3.block-col__subtitle Каталог
                        h2.block-col__title Другое
    section.container-fluid
        .block-tape
            .row
                .col-md-12
                    h2.block-tape__title Дизайнеры
            .row
                .col-md-2.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img(src="/img/content/21.png", alt="")
                .col-md-2.col-sm-3.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="/img/content/22.png", alt="")
                .col-md-2.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img(src="/img/content/23.png", alt="")
                .col-md-2.col-sm-3.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="/img/content/34.png", alt="")
                .col-md-2.hidden-sm.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="/img/content/25.png", alt="")
                .col-md-2.hidden-sm.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="/img/content/26.png", alt="")
            .row
                .col-md-12
                    a.block-tape__action Все дизайнеры
    
    section(style='background: #faebd7')
        .container-fluid
            .block-tape
                .row
                    .col-md-12
                        h2.block-tape__title Подборка
                .row
                    .col-md-2.col-sm-3.col-xs-6
                        a.block-tape__item(href="#")
                            img(src="img/section2-1.jpg", alt="")
                            span.block-tape__name Мальчика до 3 лет
                    .col-md-2.col-sm-3.hidden-xs
                        a.block-tape__item(href="#")
                            img(src="img/section2-1.jpg", alt="")
                            span.block-tape__name Мальчика до 3 лет
                    .col-md-2.col-sm-3.col-xs-6
                        a.block-tape__item(href="#")
                            img(src="img/section2-1.jpg", alt="")
                            span.block-tape__name Мальчика до 3 лет
                    .col-md-2.col-sm-3.hidden-xs
                        a.block-tape__item(href="#")
                            img(src="img/section2-1.jpg", alt="")
                            span.block-tape__name Мальчика до 3 лет
                    .col-md-2.hidden-sm.hidden-xs
                        a.block-tape__item(href="#")
                            img(src="img/section2-1.jpg", alt="")
                            span.block-tape__name Мальчика до 3 лет
                    .col-md-2.hidden-sm.hidden-xs
                        a.block-tape__item(href="#")
                            img(src="img/section2-1.jpg", alt="")
                            span.block-tape__name Мальчика до 3 лет
    section.container-fluid.nopadding
        .row
            .col-md-12
                .block-fullscreen.block-fullscreen-testimonial
                    img.block-fullscreen__image(src="https://cdn.childrensalon.com/images/cms/landing/homepagev7/dest/testimonial/02-d.jpg")
                    .block-fullscreen__inner
                        .testimonial 
                            h3.testimonial__body "Люди — единственные существа, которые заводят детей с определенной целью, если не считать рыбок гуппи, которые своих деток едят"
                            .testimonial__author Патрик О’Рурк
                            .testimonial__location США
    // Преимущества
    section.container
        .block-tape
            .row
                .col-md-12
                    h2.block-tape__title Почему мы?
            .row
                .col-md-3.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img.block-tape__img-small(src="/img/icons/benefit-1.svg", alt="")
                        span.block-tape__name.block-tape__name-small MULTILINGUAL CUSTOMER SERVICE
                .col-md-3.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img.block-tape__img-small(src="/img/icons/benefit-1.svg", alt="")
                        span.block-tape__name.block-tape__name-small MULTILINGUAL CUSTOMER SERVICE
                .col-md-3.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img.block-tape__img-small(src="/img/icons/benefit-1.svg", alt="")
                        span.block-tape__name.block-tape__name-small MULTILINGUAL CUSTOMER SERVICE
                .col-md-3.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img.block-tape__img-small(src="/img/icons/benefit-1.svg", alt="")
                        span.block-tape__name.block-tape__name-small MULTILINGUAL CUSTOMER SERVICE
    
    // Milie edit
    section(style='background: #faebd7')
        .container-fluid
            .row
                .col-md-6.nopadding.col-md-push-6
                    img.block-fullscreen__image(src="/img/content/milie.jpg",style="height: fit-content;max-height: 500px")
                .col-md-6.nopadding.col-md-pull-6
                    .block-tape.vcenter
                        .row
                            .col-md-12
                                h2.block-tape__title The Millie Mackintosh Edit
                        .row
                            .col-md-12
                                div.block-tape__description(style='max-width: 80%; margin: 0 auto') Expecting a baby girl this spring? Piece together her very first wardrobe with the Millie Mackintosh Edit, hand-picked from our collection by the beautiful mum-to-be.
                        .row
                            .col-md-12
                                a.block-tape__action SHOP NOW
    // Награды
    section.section.container-fluid.block-tape-custom
        .block-tape
            .row
                .col-md-12
                    h2.block-tape__title Программа лояльности
            .row
                .col-md-12
                    div.block-tape__description Присоединяйся к нашей программе лояльности, которая ....
            .row
                .col-md-12
                    a.block-tape__action Присоединиться

    // Kenzo
    //- section.container-fluid
        
    // Feedback
    section.container-fluid
        .row
            .col-md-6.nopadding
                // Kenzo
                .row
                    a.block-fullscreen(href="#")
                        img.block-fullscreen__image(src="/img/content/kenzo.jpg",style="height: fit-content;max-height: 347px; filter: brightness(50%)")
                        .block-fullscreen__inner
                            div(style="margin: 0 20%;background: white;padding: 20px;display: flex; flex-direction: column;align-items: center;box-shadow: 0 0 20px rgba(0,0,0,.25)")
                                h2.block-fullscreen__title(style='font-size: 26pt')  Kenzo Kids
                                h3.block-fullscreen__subtitle(style='font-size: 12pt;line-height: 1.8;padding: 8px 0;text-transform: initial') This season, join Kenzo Kids on a fun-filled trip from East to West, transporting boys and girls through three unique collections for spring and summer. 
                                .block-fullscreen__action Shop Now

            .col-md-6.nopadding
                .block-tape(style="margin: 0")
                    .row
                        .col-md-12
                            h2.block-tape__title Будь первым
                        .col-md-12
                            div.block-tape__description Скидка 10% за подписку
                            //Создайте аккаунт, чтобы быть в курсе выгодных предложений 
                        .col-md-12
                            .block-tape__form-group
                                input.block-tape__form-control(type='email', placeholder='Электронная почта',style='min-width: 60%')
                    .row
                        .col-md-12
                            a.block-tape__action(style='min-width: 30%') Подписаться