extends ./_layout.pug
block content
    section.content-fluid.submenu.hidden-md.hidden-lg.hidden-sm
        .submenu__wrap
            ul.submenu__list
                li.submenu__item
                    a.submenu__link(href="#") Новинки
                li.submenu__item
                    a.submenu__link(href="#") Доставка
                li.submenu__item
                    a.submenu__link(href="#") Бренды

    section.row
        .col-md-12
            a.block-fullscreen(href="#")
                img.block-fullscreen__image(src="img/section1.jpg")
                .block-fullscreen__inner
                    h3.block-fullscreen__subtitle You may like this brand
                    h2.block-fullscreen__title Balmain
                    .block-fullscreen__action Shop the collection
    section.container-fluid
        .row
            .col-md-3.col-sm-3.col-xs-6.nopadding
                a.block-col(href="#")
                    img.block-col__image(src="img/section2-1.jpg")
                    .block-col__inner
                        h3.block-col__subtitle Каталог
                        h2.block-col__title Детям
                        
            .col-md-3.col-sm-3.col-xs-6.nopadding
                a.block-col(href="#")
                    img.block-col__image(src="img/section2-2.jpg")
                    .block-col__inner
                        h3.block-col__subtitle Каталог
                        h2.block-col__title Мужчинам
            .col-md-3.col-sm-3.col-xs-6.nopadding
                a.block-col(href="#")
                    img.block-col__image(src="img/section2-3.jpg")
                    .block-col__inner
                        h3.block-col__subtitle Каталог
                        h2.block-col__title Женщинам
            .col-md-3.col-sm-3.col-xs-6.nopadding
                a.block-col(href="#")
                    img.block-col__image(src="img/section2-4.jpg")
                    .block-col__inner
                        h3.block-col__subtitle Каталог
                        h2.block-col__title О нас
    section.container-fluid
        .block-tape
            .row
                .col-md-12
                    h2.block-tape__title Дизайнеры
            .row
                .col-md-2.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/images/cms/landing/homepagev7/dest/designers/21.png", alt="")
                .col-md-2.col-sm-3.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/images/cms/landing/homepagev7/dest/designers/22.png", alt="")
                .col-md-2.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/images/cms/landing/homepagev7/dest/designers/23.png", alt="")
                .col-md-2.col-sm-3.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/images/cms/landing/homepagev7/dest/designers/34.png", alt="")
                .col-md-2.hidden-sm.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/images/cms/landing/homepagev7/dest/designers/25.png", alt="")
                .col-md-2.hidden-sm.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/images/cms/landing/homepagev7/dest/designers/26.png", alt="")
            .row
                .col-md-12
                    a.block-tape__action Все дизайнеры
    
    section.container-fluid
        .block-tape
            .row
                .col-md-12
                    h2.block-tape__title Подборка
            .row
                .col-md-2.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/media/catalog/product/cache/0/small_image/512x512/9df78eab33525d08d6e5fb8d27136e95/g/r/graci-pink-yellow-floral-headband-309528-8a4b4207debe831f4d4a4ea7b6a913503afe182c.jpg", alt="")
                        span.block-tape__name Мальчика до 3 лет
                .col-md-2.col-sm-3.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/media/catalog/product/cache/0/small_image/512x512/9df78eab33525d08d6e5fb8d27136e95/g/r/graci-pink-yellow-floral-headband-309528-8a4b4207debe831f4d4a4ea7b6a913503afe182c.jpg", alt="")
                        span.block-tape__name Мальчика до 3 лет
                .col-md-2.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/media/catalog/product/cache/0/small_image/512x512/9df78eab33525d08d6e5fb8d27136e95/g/r/graci-pink-yellow-floral-headband-309528-8a4b4207debe831f4d4a4ea7b6a913503afe182c.jpg", alt="")
                        span.block-tape__name Мальчика до 3 лет
                .col-md-2.col-sm-3.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/media/catalog/product/cache/0/small_image/512x512/9df78eab33525d08d6e5fb8d27136e95/g/r/graci-pink-yellow-floral-headband-309528-8a4b4207debe831f4d4a4ea7b6a913503afe182c.jpg", alt="")
                        span.block-tape__name Мальчика до 3 лет
                .col-md-2.hidden-sm.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/media/catalog/product/cache/0/small_image/512x512/9df78eab33525d08d6e5fb8d27136e95/g/r/graci-pink-yellow-floral-headband-309528-8a4b4207debe831f4d4a4ea7b6a913503afe182c.jpg", alt="")
                        span.block-tape__name Мальчика до 3 лет
                .col-md-2.hidden-sm.hidden-xs
                    a.block-tape__item(href="#")
                        img(src="https://cdn.childrensalon.com/media/catalog/product/cache/0/small_image/512x512/9df78eab33525d08d6e5fb8d27136e95/g/r/graci-pink-yellow-floral-headband-309528-8a4b4207debe831f4d4a4ea7b6a913503afe182c.jpg", alt="")
                        span.block-tape__name Мальчика до 3 лет
    section.row
        .col-md-12
            .block-fullscreen.block-fullscreen-testimonial
                img.block-fullscreen__image(src="https://cdn.childrensalon.com/images/cms/landing/homepagev7/dest/testimonial/02-d.jpg")
                .block-fullscreen__inner
                    .testimonial 
                        h3.testimonial__body "Люди — единственные существа, которые заводят детей с определенной целью, если не считать рыбок гуппи, которые своих деток едят"
                        .testimonial__author Патрик О’Рурк
                        .testimonial__location США
    // Преимущества
    section.container
        .block-tape
            .row
                .col-md-12
                    h2.block-tape__title Почему мы?
            .row
                .col-md-3.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img.block-tape__img-small(src="/img/icons/benefit-1.svg", alt="")
                        span.block-tape__name.block-tape__name-small MULTILINGUAL CUSTOMER SERVICE
                .col-md-3.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img.block-tape__img-small(src="/img/icons/benefit-1.svg", alt="")
                        span.block-tape__name.block-tape__name-small MULTILINGUAL CUSTOMER SERVICE
                .col-md-3.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img.block-tape__img-small(src="/img/icons/benefit-1.svg", alt="")
                        span.block-tape__name.block-tape__name-small MULTILINGUAL CUSTOMER SERVICE
                .col-md-3.col-sm-3.col-xs-6
                    a.block-tape__item(href="#")
                        img.block-tape__img-small(src="/img/icons/benefit-1.svg", alt="")
                        span.block-tape__name.block-tape__name-small MULTILINGUAL CUSTOMER SERVICE
    
    // Milie edit
    section.container-fluid
        .row
            .col-md-6.nopadding.col-md-push-6
                img.block-fullscreen__image(src="https://cdn.childrensalon.com/media/adminforms/hp_v7_editorial_content_block/cache/1/cache/750x584/5e06319eda06f020e43594a9c230972d/v/e/version_2_mobile_2.jpg",style="height: fit-content;max-height: 500px")
            .col-md-6.nopadding.col-md-pull-6
                .block-tape.vcenter
                    .row
                        .col-md-12
                            h2.block-tape__title The Millie Mackintosh Edit
                    .row
                        .col-md-12
                            div.block-tape__description(style='max-width: 80%; margin: 0 auto') Expecting a baby girl this spring? Piece together her very first wardrobe with the Millie Mackintosh Edit, hand-picked from our collection by the beautiful mum-to-be.
                    .row
                        .col-md-12
                            a.block-tape__action SHOP NOW
    // Награды
    .section.container-fluid.block-tape-custom
        .block-tape
            .row
                .col-md-12
                    h2.block-tape__title Программа лояльности
            .row
                .col-md-12
                    div.block-tape__description Присоединяйся к нашей программе лояльности, которая ....
            .row
                .col-md-12
                    a.block-tape__action Присоединиться

    // Kenzo
    section.container-fluid
        .row
            .col-md-6.nopadding
                img.block-fullscreen__image(src="https://cdn.childrensalon.com/media/adminforms/hp_v7_editorial_content_block/cache/1/cache/683x600/8a02aedcaf38ad3a98187ab0a1dede95/v/e/version_2_desktop_1.jpg",style="height: fit-content;max-height: 500px")
            .col-md-6.nopadding
                .block-tape.vcenter
                    .row
                        .col-md-12
                            h2.block-tape__title Kenzo Kids
                    .row
                        .col-md-12
                            div.block-tape__description(style='max-width: 80%; margin: 0 auto') This season, join Kenzo Kids on a fun-filled trip from East to West, transporting boys and girls through three unique collections for spring and summer. 
                    .row
                        .col-md-12
                            a.block-tape__action Shop Now
    // Feedback
    .section.container-fluid.block-tape-custom2
        .block-tape
            .row
                .col-md-12
                    h2.block-tape__title Будь первым
            .row
                .col-md-12
                    div.block-tape__description Создайте аккаунт, чтобы быть в курсе выгодных предложений 
            .row
                .col-md-12
                    .block-tape__form-group
                        input.block-tape__form-control(type='email', placeholder='Электронная почта')
                        input.block-tape__form-control(type='text', placeholder='Ваше имя')
            .row
                .col-md-12
                    a.block-tape__action Создать аккаунт